[Desktop Entry]
Version=1.0
Type=Application
Name=PinballUX
Comment=Visual Pinball Frontend for Linux
Exec=~/PinballUX/launch_pinballux.sh
Path=~/PinballUX
Icon=~/PinballUX/PinballUX.png
Terminal=false
Categories=Game;Arcade;
StartupNotify=true
